<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-cont-cont">
    <div class="form-cont">
      <div class="form-data">
        <mat-form-field>
          <mat-label>Titulo</mat-label>
          <input type="text" matInput formControlName="title">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Resumo</mat-label>
          <input type="text" matInput formControlName="shortDesc">
        </mat-form-field>
    </div>
    <button type="submit" mat-raised-button color="accent">Save</button>
  </div>
</form>
