.form-cont{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
}

.form-cont-cont {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-form-field {
  width: 40%;
}