.action-container {
  display: flex;
  justify-content: flex-end;
  padding: 16px 0;
}

.item-container {
  width: 20%;
  margin: 16px;
  padding: 2px;
  box-shadow: 20px;
}

app-card {
  display: block;
}

.projects-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
