<div class="action-container">
  <a mat-flat-button color="accent" [routerLink]="['input-project']">Adicionar Projeto</a>
</div>

<div class="projects-container">
  @for (project of projects(); track project.id) {
    @defer (on immediate) {
      <app-card 
        class="item-container" 
        [project]="project" 
        (edit)="onEdit(project)" 
        (delete)="onDelete(project)">
      </app-card>
    }
  }
  @empty {
    @defer (on immediate) {
      <app-no-items></app-no-items>
    }
  }
</div>
  



